*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $font-family-primary, sans-serif;
    color: $font-color-text;
    text-align: left;
    background-color: $white;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 12px;
    font-family: $font-family-heading, serif;
    color: $font-color-heading;
    line-height: 1.2em;
}

iframe {
    display: block;
    border: 0;
    width: 100%;
}

h1 {
    font-size: $font-size-h1;

    &.bigger {
        font-size: $font-size-h1 + 20px;
    }

    &.smaller {
        font-size: $font-size-h1 - 4px;
    }
}


h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;

    &.smaller {
        font-size: $font-size-h4 - 4px;
    }
}

a,
.link-nostyle {
    text-decoration: none;
    color: $font-color-link;

    &:hover {
        text-decoration: underline;
    }
}

p,
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

table {
    border-collapse: collapse;
}

// use to contain the img with .image classes
figure {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
.button-nostyle {
    padding: 0;
    border: 0;
    border-radius: 0;
    font-size: 1rem;
    background-color: transparent;
    background-image: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

template {
    display: none;
}

// Make semantic elements render consistently
main,
section,
aside,
article,
header,
footer,
nav,
address {
    display: block;
}

// [v-cloak] - Vue.js element attribute to hide element while it's mounting
[hidden],
[v-cloak] {
    display: none !important;
}
