*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-family: $font-family-primary, sans-serif;
    color: $font-color-text;
    text-align: left;
    background-color: $white;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 12px;
    font-family: $font-family-heading, serif;
    color: $font-color-heading;
    line-height: 1.2em;
}

iframe {
    display: block;
    border: 0;
    width: 100%;
}

h1 {
    font-size: $font-size-h1;

    &.heading-large {
        font-size: $font-size-h1 + 20px;
    }

    &.heading-small {
        font-size: $font-size-h1 - 4px;
    }
}


h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;

    &.heading-small {
        font-size: $font-size-h4 - 4px;
    }
}

a {
    text-decoration: none;
    color: $font-color-link;
    background-color: transparent;

    &:hover {
        text-decoration: underline;
    }
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

img {
    max-width: 100%;
    height: auto;
}

// [v-cloak] - Vue.js element attribute to hide element while it's mounting
[hidden],
[v-cloak] {
    display: none !important;
}
