*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-size: $text-font-size-default;
    line-height: $text-line-height;
    font-weight: 400;
    font-family: $text-font-family;
    color: $text-font-color;
    text-align: left;
    background-color: $white;
}

h1,
h2,
h3,
h4 {
    margin: 0 0 12px;
    font-family: $heading-font-family;
    color: $heading-font-color;
    line-height: $heading-line-height;
}

iframe {
    display: block;
    border: 0;
    width: 100%;
}

h1 {
    font-size: $heading-font-size-h1;

    &.display {
        font-size: $heading-font-size-h1 + 20px;
    }

    &.small {
        font-size: $heading-font-size-h2;
    }
}


h2 {
    font-size: $heading-font-size-h2;
}

h3 {
    font-size: $heading-font-size-h3;
}

h4 {
    font-size: $heading-font-size-h4;

    &.small {
        font-size: $text-font-size-default;
    }
}

a,
.link-nostyle {
    text-decoration: none;
    color: $text-link-font-color;

    &:hover {
        text-decoration: underline;
    }
}

p,
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

// use to contain the img with .image classes
figure {
    margin: 0;
}

figcaption {
    margin-top: 1.2rem;
    font-size: $text-font-size-tiny;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
.button-nostyle {
    padding: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
}

textarea {
    overflow: auto;
    resize: vertical;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

template {
    display: none;
}

// Make semantic elements render consistently
main,
section,
aside,
article,
header,
footer,
nav {
    display: block;
}

// [v-cloak] - Vue.js element attribute to hide element while it's mounting
[hidden],
[v-cloak] {
    display: none !important;
}
