// Text

.black {
    color: $black;
}

.white {
    color: $white;
}

.primary {
    color: $primary-text;
}

.accent {
    color: $accent-text;
}

.warn {
    color: $warn-text;
}

.muted {
    color: $muted;
}

.gray {
    color: $gray;
}


// Background

.bg-white {
    background-color: $white;
}

.bg-black {
    background-color: $black;
}

.bg-primary {
    background-color: $primary;
}

.bg-accent {
    background-color: $accent;
}

.bg-gray {
    background-color: $gray;
}


// Border

.border-white {
    border-color: $white;
}

.border-gray {
    border-color: $gray;
}

.border-primary {
    border-color: $primary;
}

.border-muted {
    border-color: lighten($muted, 20%);
}
