.black {
    color: $black;
}

.white {
    color: $white;
}

.primary {
    color: $primary;
}

.accent {
    color: $accent;
}

.warn {
    color: $warn;
}

.muted {
    color: $muted;
}

.gray {
    color: $gray;
}

.dark-gray {
    color: $gray-dark;
}

.bg-white {
    background-color: $white;
}

.bg-primary {
    background-color: $primary;
}
