.font-huge {
    font-size: $text-font-size-huge;
}

.font-large {
    font-size: $text-font-size-large;
}

.font-big {
    font-size: $text-font-size-big;
}

.font-normal {
    font-size: $text-font-size-default;
}

.font-small {
    font-size: $text-font-size-small;
}

.font-tiny {
    font-size: $text-font-size-tiny;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.normal {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

b,
strong,
.bold {
    font-weight: 700;
}
