.font-h1 {
    font-size: $font-size-h1;
}

.font-h2 {
    font-size: $font-size-h2;
}

.font-h3 {
    font-size: $font-size-h3;
}

.font-h4 {
    font-size: $font-size-h4;
}

.font-huge {
    font-size: $font-size-huge;
}

.font-large {
    font-size: $font-size-large;
}

.font-big {
    font-size: $font-size-big;
}

.font-normal {
    font-size: $base-font-size;
}

.font-small {
    font-size: $font-size-small;
}

.font-tiny {
    font-size: $font-size-tiny;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.no-underline {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.normal {
    font-weight: 400;
}

.semibold {
    font-weight: 600;
}

b,
strong,
.bold {
    font-weight: 700;
}

.break-word {
    word-break: break-word;
}
