// Utilities without breakpoints

.zindex-n1 {
    z-index: -1;
}

.zindex-1 {
    z-index: 1;
}

.pointer {
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.inset {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: $zindex-fixed;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $zindex-fixed;
}

.no-overflow {
    overflow: hidden;
}

// let flex items shrink below their minimum content size
// https://dfmcphee.com/flex-items-and-min-width-0/
.min-w-0 {
    min-width: 0;
}
