// Common utilities

.zindex-n1 {
    z-index: -1;
}

.zindex-1 {
    z-index: 1;
}

.pointer {
    cursor: pointer;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.inset {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-x {
    right: 0;
    left: 0;
}

.inset-top {
    top: 0;
    right: 0;
    left: 0;
}

.inset-right {
    top: 0;
    right: 0;
    bottom: 0;
}

.inset-bottom {
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-left {
    top: 0;
    bottom: 0;
    left: 0;
}

.no-overflow {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.bordered {
    border: 1px solid $border-color;
}

.border-top {
    border: solid $border-color;
    border-width: 1px 0 0;
}

.border-right {
    border: solid $border-color;
    border-width: 0 1px 0 0;
}

.border-bottom {
    border: solid $border-color;
    border-width: 0 0 1px;
}

.border-left {
    border: solid $border-color;
    border-width: 0 0 0 1px;
}

// Let flex content shrink below their minimum content size
// https://dfmcphee.com/flex-items-and-min-width-0/
.min-w-0 {
    min-width: 0;
}
