$grid-sm-breakpoint: 576px;
$grid-md-breakpoint: 768px;
$grid-lg-breakpoint: 1024px;
$grid-xl-breakpoint: 1400px;

$container-sm-max-width: 100%;
$container-md-max-width: $container-sm-max-width;
$container-lg-max-width: 1050px;
$container-xl-max-width: $container-lg-max-width;
