// Framework
$grid-sm-breakpoint: 600px;
$grid-md-breakpoint: 900px;
$grid-lg-breakpoint: 1200px;
$grid-xl-breakpoint: 1600px;

$container-sm-max-width: 100%;
$container-md-max-width: $container-sm-max-width;
$container-lg-max-width: 1150px;
$container-xl-max-width: 1500px;

$media-tiers: ('', '-sm', '-md', '-lg', '-xl');
$media-map: (
    0: null,
    $grid-sm-breakpoint: $container-sm-max-width,
    $grid-md-breakpoint: $container-md-max-width,
    $grid-lg-breakpoint: $container-lg-max-width,
    $grid-xl-breakpoint: $container-xl-max-width,
);


// Base
$black:             #000;
$white:             #fff;

$image-ratio-16-9:  56.25%;
$image-ratio-3-2:   66.66%;
$image-ratio-4-3:   75%;
$image-ratio-1-1:   100%;


// Theme
$gray-light:        #999;
$gray:              #666;
$gray-dark:         #333;

$primary:           #4caf50;
$primary-darker:    darken($primary, 10%);
$accent:            #4caf50;
$accent-darker:     darken($accent, 10%);
$warn:              #f02101;
$muted:             $gray-light;

$border-color:      $gray-light;


// Typography
$heading-font-family:       'Open Sans', sans-serif;
$text-font-family:          'Open Sans', sans-serif;

$heading-font-color:        $black;
$text-font-color:           #333456;
$text-link-font-color:      $text-font-color;

$heading-line-height:       1.2;
$text-line-height:          1.5;

$heading-font-size-h1:      40px;
$heading-font-size-h2:      30px;
$heading-font-size-h3:      26px;
$heading-font-size-h4:      22px;

$text-font-size-default:    16px !default;
$text-font-size-huge:       $text-font-size-default + 8px;
$text-font-size-large:      $text-font-size-default + 6px;
$text-font-size-big:        $text-font-size-default + 2px;
$text-font-size-small:      $text-font-size-default - 2px;
$text-font-size-tiny:       $text-font-size-default - 4px;


// Z-index for elements
$zindex-dropdown:       1000 !default;
$zindex-fixed:          1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal:          1050 !default;
$zindex-popover:        1060 !default;
