// Framework

$grid-sm-breakpoint:        600px;
$grid-md-breakpoint:        900px;
$grid-lg-breakpoint:        1200px;
$grid-xl-breakpoint:        1600px;

$container-sm-max-width:    100%;
$container-md-max-width:    $container-sm-max-width;
$container-lg-max-width:    1150px;
$container-xl-max-width:    1500px;

$media-tiers:                   ('', '-sm', '-md', '-lg', '-xl');
$media-map: (
    0:                      null,
    $grid-sm-breakpoint:    $container-sm-max-width,
    $grid-md-breakpoint:    $container-md-max-width,
    $grid-lg-breakpoint:    $container-lg-max-width,
    $grid-xl-breakpoint:    $container-xl-max-width,
);


// Base

$black:                 #000;
$white:                 #fff;

$base-line-height:      1.5;
$heading-line-height:   1.2;
$base-font-size:        16px;

$font-size-huge:        $base-font-size + 6px;
$font-size-large:       $base-font-size + 4px;
$font-size-big:         $base-font-size + 2px;
$font-size-small:       $base-font-size - 2px;
$font-size-tiny:        $base-font-size - 4px;

// percentage = (ratio height / ratio width) * 100
$image-ratio-16-9:      56.25%;
$image-ratio-3-2:       66.66%;
$image-ratio-4-3:       75%;
$image-ratio-1-1:       100%;


// Theme

$primary:           #4caf50;
$primary-darker:    darken($primary, 10%);
$primary-text:      darken($primary, 6%);

$accent:            #4caf50;
$accent-darker:     darken($accent, 10%);
$accent-text:       darken($accent, 6%);

$warn:              #f02101;
$warn-darker:       darken($warn, 10%);
$warn-text:         darken($warn, 6%);

$gray:              #666;
$muted:             $gray;
$border-color:      $gray;
$text-color:        $black;


// Typography

$font-family-heading:       'Open Sans', sans-serif;
$font-family-primary:       'Open Sans', sans-serif;

$font-color-heading:        $text-color;
$font-color-text:           $text-color;
$font-color-link:           $text-color;

$font-size-h1:              50px;
$font-size-h1-for-handset:  30px;
$font-size-h2:              40px;
$font-size-h2-for-handset:  30px;
$font-size-h3:              30px;
$font-size-h3-for-handset:  22px;
$font-size-h4:              $font-size-h3;
$font-size-h4-for-handset:  $font-size-h3;


// Z-index guide for elements

$zindex-dropdown:       1000 !default;
$zindex-fixed:          1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal:          1050 !default;
$zindex-popover:        1060 !default;
