@-ms-viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container--no-gutter {
  padding-right: 0;
  padding-left: 0;
}

.grid {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.grid.grid--no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.grid.grid--no-gutter > [class*="grid__col-"] {
  padding-right: 0;
  padding-left: 0;
}

.grid__col-1, .grid__col-2, .grid__col-3, .grid__col-4, .grid__col-5, .grid__col-6, .grid__col-7, .grid__col-8, .grid__col-9, .grid__col-10, .grid__col-11, .grid__col-12, .grid__col-equal, .grid__col-auto,
.grid__col-sm-1, .grid__col-sm-2, .grid__col-sm-3, .grid__col-sm-4, .grid__col-sm-5, .grid__col-sm-6, .grid__col-sm-7, .grid__col-sm-8, .grid__col-sm-9, .grid__col-sm-10, .grid__col-sm-11, .grid__col-sm-12, .grid__col-sm-equal, .grid__col-sm-auto,
.grid__col-md-1, .grid__col-md-2, .grid__col-md-3, .grid__col-md-4, .grid__col-md-5, .grid__col-md-6, .grid__col-md-7, .grid__col-md-8, .grid__col-md-9, .grid__col-md-10, .grid__col-md-11, .grid__col-md-12, .grid__col-md-equal, .grid__col-md-auto,
.grid__col-lg-1, .grid__col-lg-2, .grid__col-lg-3, .grid__col-lg-4, .grid__col-lg-5, .grid__col-lg-6, .grid__col-lg-7, .grid__col-lg-8, .grid__col-lg-9, .grid__col-lg-10, .grid__col-lg-11, .grid__col-lg-12, .grid__col-lg-equal, .grid__col-lg-auto,
.grid__col-xl-1, .grid__col-xl-2, .grid__col-xl-3, .grid__col-xl-4, .grid__col-xl-5, .grid__col-xl-6, .grid__col-xl-7, .grid__col-xl-8, .grid__col-xl-9, .grid__col-xl-10, .grid__col-xl-11, .grid__col-xl-12, .grid__col-xl-equal, .grid__col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/*
 * Create equal columns
 */
.grid__col-equal {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

/*
 * Add break between grid__col-equal columns in grid to
 * break into a new line ex. 2x2 grid: col col break col col
 */
.grid__col-equal-break {
  width: 100%;
}

/*
 * Fit content to grid with grid__col-auto
 */
.grid__col-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
          flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.grid__col-1 {
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.grid__col-2 {
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.grid__col-3 {
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
  max-width: 25%;
}

.grid__col-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.grid__col-5 {
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.grid__col-6 {
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  max-width: 50%;
}

.grid__col-7 {
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.grid__col-8 {
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.grid__col-9 {
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
  max-width: 75%;
}

.grid__col-10 {
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.grid__col-11 {
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.grid__col-12 {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
  max-width: 100%;
}

.grid__col-order-first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
          order: -1;
}

.grid__col-order-1 {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.grid__col-order-2 {
  -ms-flex-order: 2;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.grid__col-order-3 {
  -ms-flex-order: 3;
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.grid__col-order-4 {
  -ms-flex-order: 4;
  -webkit-box-ordinal-group: 5;
          order: 4;
}

.grid__col-order-5 {
  -ms-flex-order: 5;
  -webkit-box-ordinal-group: 6;
          order: 5;
}

.grid__col-order-6 {
  -ms-flex-order: 6;
  -webkit-box-ordinal-group: 7;
          order: 6;
}

.grid__col-order-7 {
  -ms-flex-order: 7;
  -webkit-box-ordinal-group: 8;
          order: 7;
}

.grid__col-order-8 {
  -ms-flex-order: 8;
  -webkit-box-ordinal-group: 9;
          order: 8;
}

.grid__col-order-9 {
  -ms-flex-order: 9;
  -webkit-box-ordinal-group: 10;
          order: 9;
}

.grid__col-order-10 {
  -ms-flex-order: 10;
  -webkit-box-ordinal-group: 11;
          order: 10;
}

.grid__col-order-11 {
  -ms-flex-order: 11;
  -webkit-box-ordinal-group: 12;
          order: 11;
}

.grid__col-order-12 {
  -ms-flex-order: 12;
  -webkit-box-ordinal-group: 13;
          order: 12;
}

.grid__col-offset-1 {
  margin-left: 8.333333%;
}

.grid__col-offset-2 {
  margin-left: 16.666667%;
}

.grid__col-offset-3 {
  margin-left: 25%;
}

.grid__col-offset-4 {
  margin-left: 33.333333%;
}

.grid__col-offset-5 {
  margin-left: 41.666667%;
}

.grid__col-offset-6 {
  margin-left: 50%;
}

.grid__col-offset-7 {
  margin-left: 58.333333%;
}

.grid__col-offset-8 {
  margin-left: 66.666667%;
}

.grid__col-offset-9 {
  margin-left: 75%;
}

.grid__col-offset-10 {
  margin-left: 83.333333%;
}

.grid__col-offset-11 {
  margin-left: 91.666667%;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.visible {
  visibility: visible !important;
}

.invisible {
  visibility: hidden !important;
}

/*
 * Content positioning, add to grid__col element
 */
.content-bottom,
.content-right,
.content-v-center,
.content-h-center,
.content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.content-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content-v-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-h-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
 * Clearfix
 */
.cf::before, .cf::after {
  content: "";
  display: table;
  clear: both;
}

/*
 * Add this class to your containers for smoother breaking.
 */
.fluid-break {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .grid__col-sm-equal {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .grid__col-sm-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .grid__col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid__col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid__col-sm-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .grid__col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid__col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid__col-sm-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .grid__col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid__col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid__col-sm-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .grid__col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid__col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid__col-sm-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .grid__col-sm-order-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .grid__col-sm-order-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .grid__col-sm-order-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .grid__col-sm-order-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .grid__col-sm-order-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .grid__col-sm-order-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .grid__col-sm-order-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .grid__col-sm-order-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .grid__col-sm-order-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .grid__col-sm-order-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .grid__col-sm-order-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .grid__col-sm-order-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .grid__col-sm-order-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .grid__col-sm-offset-0 {
    margin-left: 0;
  }
  .grid__col-sm-offset-1 {
    margin-left: 8.333333%;
  }
  .grid__col-sm-offset-2 {
    margin-left: 16.666667%;
  }
  .grid__col-sm-offset-3 {
    margin-left: 25%;
  }
  .grid__col-sm-offset-4 {
    margin-left: 33.333333%;
  }
  .grid__col-sm-offset-5 {
    margin-left: 41.666667%;
  }
  .grid__col-sm-offset-6 {
    margin-left: 50%;
  }
  .grid__col-sm-offset-7 {
    margin-left: 58.333333%;
  }
  .grid__col-sm-offset-8 {
    margin-left: 66.666667%;
  }
  .grid__col-sm-offset-9 {
    margin-left: 75%;
  }
  .grid__col-sm-offset-10 {
    margin-left: 83.333333%;
  }
  .grid__col-sm-offset-11 {
    margin-left: 91.666667%;
  }
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
  .visible-sm {
    visibility: visible !important;
  }
  .invisible-sm {
    visibility: hidden !important;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .grid__col-md-equal {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .grid__col-md-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .grid__col-md-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid__col-md-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid__col-md-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .grid__col-md-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid__col-md-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid__col-md-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .grid__col-md-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid__col-md-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid__col-md-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .grid__col-md-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid__col-md-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid__col-md-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .grid__col-md-order-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .grid__col-md-order-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .grid__col-md-order-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .grid__col-md-order-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .grid__col-md-order-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .grid__col-md-order-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .grid__col-md-order-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .grid__col-md-order-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .grid__col-md-order-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .grid__col-md-order-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .grid__col-md-order-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .grid__col-md-order-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .grid__col-md-order-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .grid__col-md-offset-0 {
    margin-left: 0;
  }
  .grid__col-md-offset-1 {
    margin-left: 8.333333%;
  }
  .grid__col-md-offset-2 {
    margin-left: 16.666667%;
  }
  .grid__col-md-offset-3 {
    margin-left: 25%;
  }
  .grid__col-md-offset-4 {
    margin-left: 33.333333%;
  }
  .grid__col-md-offset-5 {
    margin-left: 41.666667%;
  }
  .grid__col-md-offset-6 {
    margin-left: 50%;
  }
  .grid__col-md-offset-7 {
    margin-left: 58.333333%;
  }
  .grid__col-md-offset-8 {
    margin-left: 66.666667%;
  }
  .grid__col-md-offset-9 {
    margin-left: 75%;
  }
  .grid__col-md-offset-10 {
    margin-left: 83.333333%;
  }
  .grid__col-md-offset-11 {
    margin-left: 91.666667%;
  }
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
  .visible-md {
    visibility: visible !important;
  }
  .invisible-md {
    visibility: hidden !important;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
  .grid__col-lg-equal {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .grid__col-lg-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .grid__col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid__col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid__col-lg-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .grid__col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid__col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid__col-lg-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .grid__col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid__col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid__col-lg-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .grid__col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid__col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid__col-lg-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .grid__col-lg-order-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .grid__col-lg-order-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .grid__col-lg-order-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .grid__col-lg-order-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .grid__col-lg-order-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .grid__col-lg-order-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .grid__col-lg-order-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .grid__col-lg-order-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .grid__col-lg-order-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .grid__col-lg-order-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .grid__col-lg-order-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .grid__col-lg-order-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .grid__col-lg-order-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .grid__col-lg-offset-0 {
    margin-left: 0;
  }
  .grid__col-lg-offset-1 {
    margin-left: 8.333333%;
  }
  .grid__col-lg-offset-2 {
    margin-left: 16.666667%;
  }
  .grid__col-lg-offset-3 {
    margin-left: 25%;
  }
  .grid__col-lg-offset-4 {
    margin-left: 33.333333%;
  }
  .grid__col-lg-offset-5 {
    margin-left: 41.666667%;
  }
  .grid__col-lg-offset-6 {
    margin-left: 50%;
  }
  .grid__col-lg-offset-7 {
    margin-left: 58.333333%;
  }
  .grid__col-lg-offset-8 {
    margin-left: 66.666667%;
  }
  .grid__col-lg-offset-9 {
    margin-left: 75%;
  }
  .grid__col-lg-offset-10 {
    margin-left: 83.333333%;
  }
  .grid__col-lg-offset-11 {
    margin-left: 91.666667%;
  }
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
  .visible-lg {
    visibility: visible !important;
  }
  .invisible-lg {
    visibility: hidden !important;
  }
}
@media (min-width: 1224px) {
  .container {
    max-width: 1140px;
  }
  .grid__col-xl-equal {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .grid__col-xl-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .grid__col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid__col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid__col-xl-3 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .grid__col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid__col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid__col-xl-6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .grid__col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid__col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid__col-xl-9 {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .grid__col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid__col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid__col-xl-12 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .grid__col-xl-order-first {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .grid__col-xl-order-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
  .grid__col-xl-order-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .grid__col-xl-order-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .grid__col-xl-order-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
            order: 4;
  }
  .grid__col-xl-order-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
            order: 5;
  }
  .grid__col-xl-order-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
            order: 6;
  }
  .grid__col-xl-order-7 {
    -ms-flex-order: 7;
    -webkit-box-ordinal-group: 8;
            order: 7;
  }
  .grid__col-xl-order-8 {
    -ms-flex-order: 8;
    -webkit-box-ordinal-group: 9;
            order: 8;
  }
  .grid__col-xl-order-9 {
    -ms-flex-order: 9;
    -webkit-box-ordinal-group: 10;
            order: 9;
  }
  .grid__col-xl-order-10 {
    -ms-flex-order: 10;
    -webkit-box-ordinal-group: 11;
            order: 10;
  }
  .grid__col-xl-order-11 {
    -ms-flex-order: 11;
    -webkit-box-ordinal-group: 12;
            order: 11;
  }
  .grid__col-xl-order-12 {
    -ms-flex-order: 12;
    -webkit-box-ordinal-group: 13;
            order: 12;
  }
  .grid__col-xl-offset-0 {
    margin-left: 0;
  }
  .grid__col-xl-offset-1 {
    margin-left: 8.333333%;
  }
  .grid__col-xl-offset-2 {
    margin-left: 16.666667%;
  }
  .grid__col-xl-offset-3 {
    margin-left: 25%;
  }
  .grid__col-xl-offset-4 {
    margin-left: 33.333333%;
  }
  .grid__col-xl-offset-5 {
    margin-left: 41.666667%;
  }
  .grid__col-xl-offset-6 {
    margin-left: 50%;
  }
  .grid__col-xl-offset-7 {
    margin-left: 58.333333%;
  }
  .grid__col-xl-offset-8 {
    margin-left: 66.666667%;
  }
  .grid__col-xl-offset-9 {
    margin-left: 75%;
  }
  .grid__col-xl-offset-10 {
    margin-left: 83.333333%;
  }
  .grid__col-xl-offset-11 {
    margin-left: 91.666667%;
  }
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block !important;
  }
  .visible-xl {
    visibility: visible !important;
  }
  .invisible-xl {
    visibility: hidden !important;
  }
}
@media (min-width: 1400px) {
  .container--extended {
    max-width: 1340px;
  }
}
