@-ms-viewport {
  width: device-width;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1224px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container-extended {
    max-width: 1340px;
  }
}

.container-full {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.grid-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.no-gutter > .grid,
.no-gutter > [class*="grid-"] {
  padding-right: 0;
  padding-left: 0;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid,
.grid-auto, .grid-sm-1, .grid-sm-2, .grid-sm-3, .grid-sm-4, .grid-sm-5, .grid-sm-6, .grid-sm-7, .grid-sm-8, .grid-sm-9, .grid-sm-10, .grid-sm-11, .grid-sm-12, .grid-sm,
.grid-sm-auto, .grid-md-1, .grid-md-2, .grid-md-3, .grid-md-4, .grid-md-5, .grid-md-6, .grid-md-7, .grid-md-8, .grid-md-9, .grid-md-10, .grid-md-11, .grid-md-12, .grid-md,
.grid-md-auto, .grid-lg-1, .grid-lg-2, .grid-lg-3, .grid-lg-4, .grid-lg-5, .grid-lg-6, .grid-lg-7, .grid-lg-8, .grid-lg-9, .grid-lg-10, .grid-lg-11, .grid-lg-12, .grid-lg,
.grid-lg-auto, .grid-xl-1, .grid-xl-2, .grid-xl-3, .grid-xl-4, .grid-xl-5, .grid-xl-6, .grid-xl-7, .grid-xl-8, .grid-xl-9, .grid-xl-10, .grid-xl-11, .grid-xl-12, .grid-xl,
.grid-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.grid {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
  max-width: 100%;
}

.grid-auto {
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.grid-1 {
  -ms-flex: 0 0 8.333333%;
      flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.grid-2 {
  -ms-flex: 0 0 16.666667%;
      flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.grid-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}

.grid-4 {
  -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.grid-5 {
  -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.grid-6 {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}

.grid-7 {
  -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.grid-8 {
  -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.grid-9 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%;
}

.grid-10 {
  -ms-flex: 0 0 83.333333%;
      flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.grid-11 {
  -ms-flex: 0 0 91.666667%;
      flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.grid-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

.grid-order-first {
  -ms-flex-order: -1;
      order: -1;
}

.grid-order-1 {
  -ms-flex-order: 1;
      order: 1;
}

.grid-order-2 {
  -ms-flex-order: 2;
      order: 2;
}

.grid-order-3 {
  -ms-flex-order: 3;
      order: 3;
}

.grid-order-4 {
  -ms-flex-order: 4;
      order: 4;
}

.grid-order-5 {
  -ms-flex-order: 5;
      order: 5;
}

.grid-order-6 {
  -ms-flex-order: 6;
      order: 6;
}

.grid-order-7 {
  -ms-flex-order: 7;
      order: 7;
}

.grid-order-8 {
  -ms-flex-order: 8;
      order: 8;
}

.grid-order-9 {
  -ms-flex-order: 9;
      order: 9;
}

.grid-order-10 {
  -ms-flex-order: 10;
      order: 10;
}

.grid-order-11 {
  -ms-flex-order: 11;
      order: 11;
}

.grid-order-12 {
  -ms-flex-order: 12;
      order: 12;
}

.grid-offset-1 {
  margin-left: 8.333333%;
}

.grid-offset-2 {
  margin-left: 16.666667%;
}

.grid-offset-3 {
  margin-left: 25%;
}

.grid-offset-4 {
  margin-left: 33.333333%;
}

.grid-offset-5 {
  margin-left: 41.666667%;
}

.grid-offset-6 {
  margin-left: 50%;
}

.grid-offset-7 {
  margin-left: 58.333333%;
}

.grid-offset-8 {
  margin-left: 66.666667%;
}

.grid-offset-9 {
  margin-left: 75%;
}

.grid-offset-10 {
  margin-left: 83.333333%;
}

.grid-offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .grid-sm {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .grid-sm-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .grid-sm-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-sm-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-sm-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-sm-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-sm-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-sm-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid-sm-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-sm-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-sm-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid-sm-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-order-sm-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .grid-order-sm-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .grid-order-sm-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .grid-order-sm-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .grid-order-sm-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .grid-order-sm-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .grid-order-sm-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .grid-order-sm-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .grid-order-sm-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .grid-order-sm-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .grid-order-sm-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .grid-order-sm-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .grid-order-sm-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .grid-offset-sm-0 {
    margin-left: 0;
  }
  .grid-offset-sm-1 {
    margin-left: 8.333333%;
  }
  .grid-offset-sm-2 {
    margin-left: 16.666667%;
  }
  .grid-offset-sm-3 {
    margin-left: 25%;
  }
  .grid-offset-sm-4 {
    margin-left: 33.333333%;
  }
  .grid-offset-sm-5 {
    margin-left: 41.666667%;
  }
  .grid-offset-sm-6 {
    margin-left: 50%;
  }
  .grid-offset-sm-7 {
    margin-left: 58.333333%;
  }
  .grid-offset-sm-8 {
    margin-left: 66.666667%;
  }
  .grid-offset-sm-9 {
    margin-left: 75%;
  }
  .grid-offset-sm-10 {
    margin-left: 83.333333%;
  }
  .grid-offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .grid-md {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .grid-md-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .grid-md-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-md-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-md-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-md-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-md-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-md-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-md-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid-md-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-md-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-md-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid-md-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-md-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-order-md-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .grid-order-md-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .grid-order-md-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .grid-order-md-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .grid-order-md-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .grid-order-md-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .grid-order-md-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .grid-order-md-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .grid-order-md-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .grid-order-md-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .grid-order-md-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .grid-order-md-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .grid-order-md-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .grid-offset-md-0 {
    margin-left: 0;
  }
  .grid-offset-md-1 {
    margin-left: 8.333333%;
  }
  .grid-offset-md-2 {
    margin-left: 16.666667%;
  }
  .grid-offset-md-3 {
    margin-left: 25%;
  }
  .grid-offset-md-4 {
    margin-left: 33.333333%;
  }
  .grid-offset-md-5 {
    margin-left: 41.666667%;
  }
  .grid-offset-md-6 {
    margin-left: 50%;
  }
  .grid-offset-md-7 {
    margin-left: 58.333333%;
  }
  .grid-offset-md-8 {
    margin-left: 66.666667%;
  }
  .grid-offset-md-9 {
    margin-left: 75%;
  }
  .grid-offset-md-10 {
    margin-left: 83.333333%;
  }
  .grid-offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1024px) {
  .grid-lg {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .grid-lg-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .grid-lg-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-lg-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-lg-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-lg-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-lg-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-lg-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid-lg-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-lg-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-lg-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid-lg-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-lg-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-order-lg-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .grid-order-lg-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .grid-order-lg-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .grid-order-lg-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .grid-order-lg-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .grid-order-lg-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .grid-order-lg-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .grid-order-lg-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .grid-order-lg-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .grid-order-lg-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .grid-order-lg-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .grid-order-lg-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .grid-order-lg-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .grid-offset-lg-0 {
    margin-left: 0;
  }
  .grid-offset-lg-1 {
    margin-left: 8.333333%;
  }
  .grid-offset-lg-2 {
    margin-left: 16.666667%;
  }
  .grid-offset-lg-3 {
    margin-left: 25%;
  }
  .grid-offset-lg-4 {
    margin-left: 33.333333%;
  }
  .grid-offset-lg-5 {
    margin-left: 41.666667%;
  }
  .grid-offset-lg-6 {
    margin-left: 50%;
  }
  .grid-offset-lg-7 {
    margin-left: 58.333333%;
  }
  .grid-offset-lg-8 {
    margin-left: 66.666667%;
  }
  .grid-offset-lg-9 {
    margin-left: 75%;
  }
  .grid-offset-lg-10 {
    margin-left: 83.333333%;
  }
  .grid-offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1224px) {
  .grid-xl {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 100%;
  }
  .grid-xl-auto {
    -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .grid-xl-1 {
    -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .grid-xl-2 {
    -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .grid-xl-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .grid-xl-4 {
    -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .grid-xl-5 {
    -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .grid-xl-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .grid-xl-7 {
    -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .grid-xl-8 {
    -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .grid-xl-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .grid-xl-10 {
    -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .grid-xl-11 {
    -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .grid-xl-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .grid-order-xl-first {
    -ms-flex-order: -1;
        order: -1;
  }
  .grid-order-xl-1 {
    -ms-flex-order: 1;
        order: 1;
  }
  .grid-order-xl-2 {
    -ms-flex-order: 2;
        order: 2;
  }
  .grid-order-xl-3 {
    -ms-flex-order: 3;
        order: 3;
  }
  .grid-order-xl-4 {
    -ms-flex-order: 4;
        order: 4;
  }
  .grid-order-xl-5 {
    -ms-flex-order: 5;
        order: 5;
  }
  .grid-order-xl-6 {
    -ms-flex-order: 6;
        order: 6;
  }
  .grid-order-xl-7 {
    -ms-flex-order: 7;
        order: 7;
  }
  .grid-order-xl-8 {
    -ms-flex-order: 8;
        order: 8;
  }
  .grid-order-xl-9 {
    -ms-flex-order: 9;
        order: 9;
  }
  .grid-order-xl-10 {
    -ms-flex-order: 10;
        order: 10;
  }
  .grid-order-xl-11 {
    -ms-flex-order: 11;
        order: 11;
  }
  .grid-order-xl-12 {
    -ms-flex-order: 12;
        order: 12;
  }
  .grid-offset-xl-0 {
    margin-left: 0;
  }
  .grid-offset-xl-1 {
    margin-left: 8.333333%;
  }
  .grid-offset-xl-2 {
    margin-left: 16.666667%;
  }
  .grid-offset-xl-3 {
    margin-left: 25%;
  }
  .grid-offset-xl-4 {
    margin-left: 33.333333%;
  }
  .grid-offset-xl-5 {
    margin-left: 41.666667%;
  }
  .grid-offset-xl-6 {
    margin-left: 50%;
  }
  .grid-offset-xl-7 {
    margin-left: 58.333333%;
  }
  .grid-offset-xl-8 {
    margin-left: 66.666667%;
  }
  .grid-offset-xl-9 {
    margin-left: 75%;
  }
  .grid-offset-xl-10 {
    margin-left: 83.333333%;
  }
  .grid-offset-xl-11 {
    margin-left: 91.666667%;
  }
}

.text-hidden {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.visible {
  visibility: visible !important;
}
.invisible {
  visibility: hidden !important;
}

@media (min-width: 576px) {
  .hide-sm {
    display: none !important;
  }
  .show-sm {
    display: block !important;
  }
  .visible-sm {
    visibility: visible !important;
  }
  .invisible-sm {
    visibility: hidden !important;
  }
}

@media (min-width: 768px) {
  .hide-md {
    display: none !important;
  }
  .show-md {
    display: block !important;
  }
  .visible-md {
    visibility: visible !important;
  }
  .invisible-md {
    visibility: hidden !important;
  }
}

@media (min-width: 1024px) {
  .hide-lg {
    display: none !important;
  }
  .show-lg {
    display: block !important;
  }
  .visible-lg {
    visibility: visible !important;
  }
  .invisible-lg {
    visibility: hidden !important;
  }
}

@media (min-width: 1224px) {
  .hide-xl {
    display: none !important;
  }
  .show-xl {
    display: block !important;
  }
  .visible-xl {
    visibility: visible !important;
  }
  .invisible-xl {
    visibility: hidden !important;
  }
}


/*
* Add '.fluid-break' class to your containers for smoother breaking.
*
*/

.fluid-break {
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
