$button: (
    'border-width': 2px,
    'border-radius': 4px,
    'font-weight': 500,
);

$timing: get('timing.base-1', $transition);


%button-base {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    border-radius: map-get($button, 'border-radius');
    border: map-get($button, 'border-width') solid;
    border-color: transparent;
    font-weight: map-get($button, 'font-weight');
    line-height: 1;
    user-select: none;
    touch-action: manipulation;
    transition: background-color $timing, color $timing, box-shadow $timing, border $timing;

    // Truncate overflow
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:disabled {
        box-shadow: none;
    }
}

.button {
    @extend %button-base;
    @extend .button-raised;
    @extend .button-rounded;

    @include button-size(140px, 50px, 14px, 1rem);
}


// Sizes
.button-big {
    @include button-size(260px, 60px, 18px, 22px);
}


// Variants
.button-primary {
    @include button-variant(white, 'primary');
}


// Types/extentions
.button-rounded {
    border-radius: 999px;
}

.button-raised {
    box-shadow: get('base.z3', $shadow);
}

.button-outlined,
.button-flat {
    box-shadow: none;
}


// Accessories
.button-icon-left {
    i,
    span {
        margin-right: .4em;
    }
}

.button-icon-right {
    i,
    span {
        margin-left: .4em;
    }
}
