.zindex-n1 {
    z-index: -1;
}

.zindex-1 {
    z-index: 1;
}


.pointer {
    cursor: pointer;
}


.inset {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-x {
    right: 0;
    left: 0;
}

.inset-t {
    top: 0;
    right: 0;
    left: 0;
}

.inset-r {
    top: 0;
    right: 0;
    bottom: 0;
}

.inset-b {
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-l {
    top: 0;
    bottom: 0;
    left: 0;
}


.no-overflow {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}


.border-dashed {
    border-style: dashed;
}


.border {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-top {
    border-top-width: 1px;
}

.border-right {
    border-right-width: 1px;
}

.border-bottom {
    border-bottom-width: 1px;
}

.border-left {
    border-left-width: 1px;
}

.border-top-2 {
    border-top-width: 2px;
}

.border-right-2 {
    border-right-width: 2px;
}

.border-bottom-2 {
    border-bottom-width: 2px;
}

.border-left-2 {
    border-left-width: 2px;
}


.rounded-1 {
    border-radius: map-get($spacers, 1);
}

.rounded-2 {
    border-radius: map-get($spacers, 2);
}

.rounded-3 {
    border-radius: map-get($spacers, 3);
}

.rounded-full {
    border-radius: 9999px;
}


.elevation-1 {
    box-shadow: get('base.z1', $shadow);
}

.elevation-2 {
    box-shadow: get('base.z2', $shadow);
}

.elevation-3 {
    box-shadow: get('base.z3', $shadow);
}

.elevation-4 {
    box-shadow: get('base.z4', $shadow);
}

.elevation-5 {
    box-shadow: get('base.z5', $shadow);
}


// Let flex content shrink below their minimum content size
// https://dfmcphee.com/flex-items-and-min-width-0/
.no-min-w {
    min-width: 0;
}
