.zindex-n1 {
    z-index: -1;
}

.zindex-1 {
    z-index: 1;
}

.zindex-2 {
    z-index: map-get($zindex, 'fixed');
}

.zindex-3 {
    z-index: map-get($zindex, 'dropdown');
}

.zindex-4 {
    z-index: map-get($zindex, 'backdrop');
}

.zindex-5 {
    z-index: map-get($zindex, 'modal');
}

.zindex-6 {
    z-index: map-get($zindex, 'popover');
}


.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}


.no-overflow {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}


.opacity-75 {
    opacity: .75;
}

.opacity-50 {
    opacity: .5;
}

.opacity-25 {
    opacity: .25;
}


.elevation-1 {
    box-shadow: map-get($elevation, 'z1');
}

.elevation-2 {
    box-shadow: map-get($elevation, 'z2');
}

.elevation-3 {
    box-shadow: map-get($elevation, 'z3');
}

.elevation-4 {
    box-shadow: map-get($elevation, 'z4');
}

.elevation-5 {
    box-shadow: map-get($elevation, 'z5');
}


// Let flex content shrink below their minimum content size
// https://dfmcphee.com/flex-items-and-min-width-0/
.no-min-w {
    min-width: 0;
}


.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}
