$max-columns: 12;

@mixin offset($point, $negative: false) {
    $percentage: 0;

    @if $point != 0 {
        $percentage: percentage($point / $max-columns);
    }

    margin-left: if($negative, -$percentage, $percentage);
}


@mixin responsive-layout($prefix) {
    .#{$prefix}hidden {
        display: none;
    }

    .#{$prefix}flex {
        display: flex;
    }

    .#{$prefix}inline-flex {
        display: inline-flex;
    }

    .#{$prefix}block {
        display: block;
    }

    .#{$prefix}inline-block {
        display: inline-block;
    }

    .#{$prefix}relative {
        position: relative;
    }

    .#{$prefix}absolute {
        position: absolute;
    }

    .#{$prefix}fixed {
        position: fixed;
    }

    .#{$prefix}sticky {
        position: sticky;
    }

    .#{$prefix}text-center {
        text-align: center;
    }

    .#{$prefix}text-left {
        text-align: left;
    }

    .#{$prefix}text-right {
        text-align: right;
    }

    .#{$prefix}h-full {
        height: 100%;
    }

    .#{$prefix}h-auto {
        height: auto;
    }

    .#{$prefix}h-screen {
        height: 100vh;
    }

    .#{$prefix}w-full {
        width: 100%;
    }

    .#{$prefix}w-auto {
        width: auto;
    }

    @for $i from 0 through $max-columns - 1 {
        @if ($i != 0) {
            // .w-{1-11}/12
            .#{$prefix}w-#{$i}\/#{$max-columns} {
                width: percentage($i / $max-columns);
            }

            @if ($i < 5) {
                $max: 5;

                // .w-{1-4}/5
                .#{$prefix}w-#{$i}\/#{$max} {
                    width: percentage($i / $max);
                }
            }
        }

        .#{$prefix}push-#{$i} {
            @include offset($i);
        }

        .#{$prefix}pull-#{$i} {
            @include offset($i, true);
        }
    }
}


@mixin responsive-flex($prefix) {
    .#{$prefix}flex-column {
        flex-direction: column;
    }

    .#{$prefix}flex-row {
        flex-direction: row;
    }

    .#{$prefix}flex-row-reverse {
        flex-direction: row-reverse;
    }

    .#{$prefix}flex-wrap {
        flex-wrap: wrap;
    }

    .#{$prefix}flex-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    .#{$prefix}flex-nowrap {
        flex-wrap: nowrap;
    }

    .#{$prefix}flex-shrink {
        flex-shrink: 1;
    }

    .#{$prefix}flex-noshrink {
        flex-shrink: 0;
    }

    .#{$prefix}flex-grow {
        flex-grow: 1;
    }

    .#{$prefix}flex-nogrow {
        flex-grow: 0;
    }

    // flexbox playground https://the-echoplex.net/flexyboxes/
    // Utilities for controlling how flex items are positioned along a container's main axis (horizontally)
    .#{$prefix}justify-start {
        justify-content: flex-start;
    }

    .#{$prefix}justify-center {
        justify-content: center;
    }

    .#{$prefix}justify-end {
        justify-content: flex-end;
    }

    .#{$prefix}justify-between {
        justify-content: space-between;
    }

    .#{$prefix}justify-around {
        justify-content: space-around;
    }

    // Utilities for controlling how lines are positioned in multi-line flex containers
    .#{$prefix}content-start {
        align-content: flex-start;
    }

    .#{$prefix}content-center {
        align-content: center;
    }

    .#{$prefix}content-end {
        align-content: flex-end;
    }

    .#{$prefix}content-between {
        align-content: space-between;
    }

    .#{$prefix}content-around {
        align-content: space-around;
    }

    // Utilities for controlling how flex items are positioned along a container's cross axis
    .#{$prefix}items-stretch {
        align-items: stretch;
    }

    .#{$prefix}items-start {
        align-items: flex-start;
    }

    .#{$prefix}items-center {
        align-items: center;
    }

    .#{$prefix}items-end {
        align-items: flex-end;
    }

    // Utilities for controlling how an individual flex item is positioned along its container's cross axis
    .#{$prefix}self-start {
        align-self: flex-start;
    }

    .#{$prefix}self-center {
        align-self: center;
    }

    .#{$prefix}self-end {
        align-self: flex-end;
    }

    .#{$prefix}self-auto {
        align-self: auto; // Computes to the parent's align-items value
    }

    .#{$prefix}order-first {
        order: -1;
    }

    .#{$prefix}order-last {
        order: $max-columns + 1;
    }

    @for $i from 1 through $max-columns {
        .#{$prefix}order-#{$i} {
            order: $i;
        }
    }
}

.inset {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-x {
    right: 0;
    left: 0;
}

.inset-t {
    top: 0;
    right: 0;
    left: 0;
}

.inset-r {
    top: 0;
    right: 0;
    bottom: 0;
}

.inset-b {
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-l {
    top: 0;
    bottom: 0;
    left: 0;
}
