// Text

.black {
    color: black;
}

.white {
    color: white;
}

.primary {
    color: get('primary.base', $color);
}

.warn {
    color: get('warn.base', $color);
}

.gray {
    color: get('gray.base', $color);
}



// Background

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: black;
}

.bg-primary {
    background-color: get('primary.base', $color);
}

.bg-gray {
    background-color: get('gray.base', $color);
}



// Border

.border-white {
    border-color: white;
}

.border-gray {
    border-color: get('gray.light', $color);
}

.border-primary {
    border-color: get('primary.base', $color);
}
