// Base styles inspired by Bootstrap, Tailwind preflight and Normalize.css.
*,
*::before,
*::after {
    box-sizing: border-box;
}

// https://tailwindcss.com/docs/preflight#border-styles-are-reset-globally
// make it easy to add border style with classes by adding border-style to solid by default.
* {
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

// [v-cloak] - Vue.js element attribute that gets removed after mount.
// Use to hide pre-rendered moustache tags or customize preloader content.
[hidden],
[v-cloak] {
    display: none !important;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1.5;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: get($font, 'text.family');
    color: get($color, 'black.400');

    // Add dynamically to body —
    // removes outlines from inputs when clicked on / keep outline when tabbing
    &:not(.using-keyboard) {
        button,
        textarea,
        input {
            outline: none;
        }
    }
}

a {
    text-decoration: none;
    color: currentColor;

    &:hover {
        text-decoration: underline;
    }
}

strong {
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 0.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

iframe {
    border: 0;
    width: 100%;
}

// Use to contain the img with .image classes
figure {
    margin: 0;
    text-align: center;
}

figcaption {
    margin-top: 1.2rem;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-size: inherit;
    line-height: inherit;
}

button,
input[type=button],
input[type=submit] {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    background-image: none;
    vertical-align: middle;
    text-align: center;
    user-select: none;
    appearance: none;

    &:not(:disabled) {
        cursor: pointer;
    }
}

textarea {
    overflow: auto;
    resize: vertical;
}

input::placeholder,
textarea::placeholder {
    color: #a0aec0;
}

label {
    display: inline-block;
}

template {
    display: none;
}

main,
section,
aside,
article,
header,
footer,
nav {
    display: block;
}

::selection {
    // Customize...
}
