.border-dashed {
    border-style: dashed;
}


.rounded-sm {
    border-radius: .125rem;
}

.rounded {
    border-radius: .25rem;
}

.rounded-lg {
    border-radius: .5rem;
}

.rounded-full {
    border-radius: 9999px;
}

@mixin responsive-borders($prefix) {
    .#{$prefix}border-0 {
        border-width: 0;
    }

    .#{$prefix}border {
        border-width: 1px;
    }

    .#{$prefix}border-2 {
        border-width: 2px;
    }

    .#{$prefix}border-t-0 {
        border-top-width: 0;
    }

    .#{$prefix}border-r-0 {
        border-right-width: 0;
    }

    .#{$prefix}border-b-0 {
        border-bottom-width: 0;
    }

    .#{$prefix}border-l-0 {
        border-left-width: 0;
    }

    .#{$prefix}border-t {
        border-top-width: 1px;
    }

    .#{$prefix}border-r {
        border-right-width: 1px;
    }

    .#{$prefix}border-b {
        border-bottom-width: 1px;
    }

    .#{$prefix}border-l {
        border-left-width: 1px;
    }

    .#{$prefix}border-t-2 {
        border-top-width: 2px;
    }

    .#{$prefix}border-r-2 {
        border-right-width: 2px;
    }

    .#{$prefix}border-b-2 {
        border-bottom-width: 2px;
    }

    .#{$prefix}border-l-2 {
        border-left-width: 2px;
    }
}
