$max-columns: 12;

@mixin offset($point) {
    $percentage: 0;

    @if $point != 0 {
        $percentage: percentage($point / $max-columns);
    }

    margin-left: $percentage;
}


@mixin responsive-layout($prefix) {
    .#{$prefix}hidden {
        display: none;
    }

    .#{$prefix}flex {
        display: flex;
    }

    .#{$prefix}inline-flex {
        display: inline-flex;
    }

    .#{$prefix}block {
        display: block;
    }

    .#{$prefix}inline-block {
        display: inline-block;
    }

    .#{$prefix}relative {
        position: relative;
    }

    .#{$prefix}absolute {
        position: absolute;
    }

    .#{$prefix}fixed {
        position: fixed;
    }

    .#{$prefix}sticky {
        position: sticky;
    }

    .#{$prefix}text-center {
        text-align: center;
    }

    .#{$prefix}text-left {
        text-align: left;
    }

    .#{$prefix}text-right {
        text-align: right;
    }

    .#{$prefix}h-full {
        height: 100%;
    }

    .#{$prefix}h-auto {
        height: auto;
    }

    .#{$prefix}h-screen {
        height: 100vh;
    }

    .#{$prefix}w-full {
        width: 100%;
    }

    .#{$prefix}w-auto {
        width: auto;
    }

    @for $i from 0 through $max-columns - 1 {
        @if ($i != 0) {
            .#{$prefix}w-#{$i}\/#{$max-columns} {
                width: percentage($i / $max-columns);
            }
        }

        .#{$prefix}offset-#{$i} {
            @include offset($i);
        }
    }
}


@mixin responsive-flex($prefix) {
    .#{$prefix}flex-column {
        flex-direction: column;
    }

    .#{$prefix}flex-row {
        flex-direction: row;
    }

    .#{$prefix}flex-row-reverse {
        flex-direction: row-reverse;
    }

    .#{$prefix}flex-wrap {
        flex-wrap: wrap;
    }

    .#{$prefix}flex-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    .#{$prefix}flex-nowrap {
        flex-wrap: nowrap;
    }

    .#{$prefix}flex-shrink {
        flex-shrink: 1;
    }

    .#{$prefix}flex-noshrink {
        flex-shrink: 0;
    }

    .#{$prefix}flex-grow {
        flex-grow: 1;
    }

    .#{$prefix}flex-nogrow {
        flex-grow: 0;
    }

    // flexbox playground https://the-echoplex.net/flexyboxes/
    // Utilities for controlling how flex items are positioned along a container's main axis (horizontally)
    .#{$prefix}justify-start {
        justify-content: flex-start;
    }

    .#{$prefix}justify-center {
        justify-content: center;
    }

    .#{$prefix}justify-end {
        justify-content: flex-end;
    }

    .#{$prefix}justify-between {
        justify-content: space-between;
    }

    .#{$prefix}justify-around {
        justify-content: space-around;
    }

    // Utilities for controlling how lines are positioned in multi-line flex containers
    .#{$prefix}content-start {
        align-content: flex-start;
    }

    .#{$prefix}content-center {
        align-content: center;
    }

    .#{$prefix}content-end {
        align-content: flex-end;
    }

    .#{$prefix}content-between {
        align-content: space-between;
    }

    .#{$prefix}content-around {
        align-content: space-around;
    }

    // Utilities for controlling how flex items are positioned along a container's cross axis
    .#{$prefix}items-stretch {
        align-items: stretch;
    }

    .#{$prefix}items-start {
        align-items: flex-start;
    }

    .#{$prefix}items-center {
        align-items: center;
    }

    .#{$prefix}items-end {
        align-items: flex-end;
    }

    // Utilities for controlling how an individual flex item is positioned along its container's cross axis
    .#{$prefix}self-start {
        align-self: flex-start;
    }

    .#{$prefix}self-center {
        align-self: center;
    }

    .#{$prefix}self-end {
        align-self: flex-end;
    }

    .#{$prefix}self-auto {
        align-self: auto; // Computes to the parent's align-items value
    }

    .#{$prefix}order-first {
        order: -1;
    }

    .#{$prefix}order-last {
        order: $max-columns + 1;
    }

    @for $i from 1 through $max-columns {
        .#{$prefix}order-#{$i} {
            order: $i;
        }
    }
}


@mixin responsive-spacers($prefix: '') {
    // About auto margins:
    // https://css-tricks.com/the-peculiar-magic-of-flexbox-and-auto-margins/
    // in short - can be used for element alignment, buggy in IE 10/11

    .#{$prefix}my-auto {
        margin-top: auto;
        margin-bottom: auto;
    }

    .#{$prefix}mx-auto {
        margin-left: auto;
        margin-right: auto;
    }

    .#{$prefix}mt-auto {
        margin-top: auto;
    }

    .#{$prefix}mr-auto {
        margin-right: auto;
    }

    .#{$prefix}mb-auto {
        margin-bottom: auto;
    }

    .#{$prefix}ml-auto {
        margin-left: auto;
    }

    @each $i, $length in $spacers {
        .#{$prefix}m-#{$i} {
            margin: $length;
        }

        // negative margins
        @if ($i != 0) {
            .#{$prefix}mt-n#{$i} {
                margin-top: -$length;
            }

            .#{$prefix}mr-n#{$i} {
                margin-right: -$length;
            }

            .#{$prefix}mb-n#{$i} {
                margin-bottom: -$length;
            }

            .#{$prefix}ml-n#{$i} {
                margin-left: -$length;
            }
        }

        .#{$prefix}mt-#{$i} {
            margin-top: $length;
        }

        .#{$prefix}mr-#{$i} {
            margin-right: $length;
        }

        .#{$prefix}mb-#{$i} {
            margin-bottom: $length;
        }

        .#{$prefix}ml-#{$i} {
            margin-left: $length;
        }

        .#{$prefix}mx-#{$i} {
            margin-left: $length;
            margin-right: $length;
        }

        .#{$prefix}my-#{$i} {
            margin-top: $length;
            margin-bottom: $length;
        }

        .#{$prefix}p-#{$i} {
            padding: $length;
        }

        .#{$prefix}pt-#{$i} {
            padding-top: $length;
        }

        .#{$prefix}pr-#{$i} {
            padding-right: $length;
        }

        .#{$prefix}pb-#{$i} {
            padding-bottom: $length;
        }

        .#{$prefix}pl-#{$i} {
            padding-left: $length;
        }

        .#{$prefix}px-#{$i} {
            padding-left: $length;
            padding-right: $length;
        }

        .#{$prefix}py-#{$i} {
            padding-top: $length;
            padding-bottom: $length;
        }
    }
}


.zindex-n1 {
    z-index: -1;
}

.zindex-1 {
    z-index: 1;
}

.zindex-2 {
    z-index: map-get($zindex, 'fixed');
}

.zindex-3 {
    z-index: map-get($zindex, 'dropdown');
}

.zindex-4 {
    z-index: map-get($zindex, 'backdrop');
}

.zindex-5 {
    z-index: map-get($zindex, 'modal');
}

.zindex-6 {
    z-index: map-get($zindex, 'popover');
}


.pointer {
    cursor: pointer;
}


.inset {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-x {
    right: 0;
    left: 0;
}

.inset-t {
    top: 0;
    right: 0;
    left: 0;
}

.inset-r {
    top: 0;
    right: 0;
    bottom: 0;
}

.inset-b {
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-l {
    top: 0;
    bottom: 0;
    left: 0;
}


.no-overflow {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}


.opacity-75 {
    opacity: .75;
}

.opacity-50 {
    opacity: .5;
}

.opacity-25 {
    opacity: .25;
}


.elevation-1 {
    box-shadow: map-get($elevation, 'z1');
}

.elevation-2 {
    box-shadow: map-get($elevation, 'z2');
}

.elevation-3 {
    box-shadow: map-get($elevation, 'z3');
}

.elevation-4 {
    box-shadow: map-get($elevation, 'z4');
}

.elevation-5 {
    box-shadow: map-get($elevation, 'z5');
}


// Let flex content shrink below their minimum content size
// https://dfmcphee.com/flex-items-and-min-width-0/
.no-min-w {
    min-width: 0;
}
